<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CommonUtils - Simplify Your Daily Tasks</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="~{fragments/header :: header}" >...</div>
  
  <nav>
    <a href="#features">Features</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
  
  <section class="hero">
    <h2>Effortlessly Manage Everyday Utilities</h2>
    <p>Split Excel files, convert documents, compress images, and much more with just a few clicks.</p>
  </section>
  
  <section id="features" class="features">
    <a href="/excel-Splitter" class="atagHomePage">
    <div class="feature" >
	  <h3>Excel Splitter</h3>
      <p>Split Excel files based on columns quickly and efficiently.</p>
    </div>
    </a>
    <a href="/regex-tester" class="atagHomePage">
    <div class="feature">
      <h3>Regex Tester</h3>
      <p>Check the Regex Expression with Sample Text</p>
    </div>
    </a>
    <div class="feature">
      <h3>Document Converter</h3>
      <p>Convert files between multiple formats in seconds.</p>
    </div>
  </section>
  
  
  <div th:insert="~{fragments/footer :: footer}" >...</div>

</body>
</html>
